<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://fr.inria.aoste.timmo2use.tadl2.TimingExpressions"
            class="fr.inria.aoste.timmo2use.tadl2.TimingExpressions.TimingExpressionsPackage"
            genModel="metamodel/tadl2.genmodel"/>
   </extension>

</plugin>
