<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="gemocLanguageDesignerBuilder"
         name="GEMOC Concurrent xDSML Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.builder.GemocLanguageDesignerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="gemocLanguageDesignerNature"
         name="Concurrent xDSML Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.builder.GemocLanguageDesignerNature">
         </run>
      </runtime>
      <builder
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.gemocLanguageDesignerBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.addnature.contribution">
         <action
               class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/IconeGemocLanguage-16.png"
               id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.addRemoveNatureAction"
               label="Add Concurrent xDSML Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
         <and>
            <not>
                <objectState name="projectNature" value="org.gemoc.gemoc_language_workbench.concurrent.ui.gemocLanguageDesignerNature"/>
            </not>
            <objectClass name="org.eclipse.core.resources.IProject" />
          </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.removenature.contribution">
         <action
               class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/IconeGemocLanguage-16.png"
               id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.addRemoveNatureAction"
               label="Remove Concurrent xDSML Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         
	    <visibility>
	       <and>
	          <objectClass
	                name="org.eclipse.core.resources.IProject">
	          </objectClass>
	          <objectState
	                name="projectNature"
	                value="org.gemoc.gemoc_language_workbench.concurrent.ui.gemocLanguageDesignerNature">
	          </objectState>
	       </and>
	    </visibility>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/IconeGemocLanguage-10.png"
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.gemocLanguageDesignerNature.image"
            natureId="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.gemocLanguageDesignerNature">
      </image>
   </extension>
   <!-- definitions of commands -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.commands.MergeExtendedCCSLCommandHandler"
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.commands.MergeExtendedCCSL"
            name="Merge extendedCCSLFile or time model ino one XMI resource">
      </command>
   </extension>
   <!-- contributions to popup menus -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/IconeGemocLanguage-16.png"
               id="GEMOCFile.Menu"
               label="GEMOC File">
            <command
                  commandId="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.commands.MergeExtendedCCSL"
                  label="Merge into one XMI resource"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <and>
                           <adapt
                                 type="org.eclipse.core.resources.IFile">
                           </adapt>
                           <or>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="extendedCCSL">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="timemodel">
                              </test>
                           </or>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <!-- expression definitions for simplifying the filtering of command and menu contributions -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui"
            name="GEMOC Concurrent">
      </category>
      <wizard
            category="org.gemoc.execution.concurrent.ccsljavaxdsml.ui"
            class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.wizards.CreateNewGemocConcurrentLanguageProject"
            icon="icons/IconeGemocLanguage-16.png"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.design"
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.wizards.CreateNewGemocLanguageProject"
            name="GEMOC Concurrent xDSML Project"
            project="true">
      </wizard>
      <wizard
            category="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.category.ecl"
            class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.wizards.CreateNewDSEProject"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.design"
            icon="icons/IconeGemocLanguage-16.png"
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.wizards.CreateNewDSEProject"
            name="DSE Project"
            project="true">
      </wizard>
      <wizard
            category="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.category.moccml"
            class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.wizards.CreateNewMoCProject"
            finalPerspective="org.eclipse.sirius.ui.tools.perspective.design"
            icon="icons/IconeGemocLanguage-16.png"
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.wizards.CreateNewMoCProject"
            name="MoCCML Project"
            project="true">
      </wizard>
      <category
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.category.ecl"
            name="ECL">
      </category>
      <category
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.category.moccml"
            name="MoCCML">
      </category>
   </extension>


   <extension
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="org.eclipse.sirius.ui.tools.perspective.design">
          <newWizardShortcut
                id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.wizards.CreateNewGemocLanguageProject">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.wizards.CreateNewDSEProject">
          </newWizardShortcut>
          <newWizardShortcut
                id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.wizards.CreateNewMoCProject">
          </newWizardShortcut>
       </perspectiveExtension>
    </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="org.gemoc.execution.concurrent.ccsljavaxdsml.ui"
            type="new"
            wizardId="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.wizards.CreateNewGemocLanguageProject">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.eclipse.sirius.ui.tools.perspective.design">
               </equals>
            </with>
         </enablement>
      </commonWizard>
   </extension>
    
    
    <!-- DSE extensions -->
   <extension
         id="dse_builder"
         name="DSE Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.GemocDSEBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="dse_nature"
         name="DSE Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.GemocDSENature">
         </run>
      </runtime>
      <builder
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse_builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.category"
            name="ECL">
      </category>
      <command
            categoryId="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.category"
            defaultHandler="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.AddRemoveGemocDSENatureHandler"
            id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.addRemoveDSENature"
            name="Add/Remove DSE Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.addRemoveDSENature"
               label="Disable DSE builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                     	<adapt
			                  type="org.eclipse.core.resources.IProject">
			               <test
			                     property="org.eclipse.core.resources.projectNature "
			                     value="org.gemoc.gemoc_language_workbench.concurrent.ui.dse_nature">
			               </test>
			            </adapt>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.addRemoveDSENature"
               label="Enable DSE builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        
                     	<adapt
			                  type="org.eclipse.core.resources.IProject">
			               <not>
				               <test
				                     property="org.eclipse.core.resources.projectNature "
				                     value="org.gemoc.gemoc_language_workbench.concurrent.ui.dse_nature">
				               </test>
                        	</not>
			            </adapt>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="dse_problem"
         name="DSE Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
    
   <extension-point id="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.builder_addon"
    name="GemocDSEBuilderAddon" 
    schema="schema/org.gemoc.execution.concurrent.ccsljavaxdsml.ui.dse.builder_addon.exsd" />
    
    <extension
         point="fr.inria.diverse.commons.eclipse.pde.projectContent">      
      <wizard
            class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.templates.ConcurrentNewWizard"
            id="fr.inria.diverse.melange.ui.templates.projectContent.Concurrent"
            name="Simple concurrent GEMOC project"
            targetPluginId="fr.inria.diverse.melange.ui">
         <description>
            This template includes the definition of a concurrent language.
         </description>
      </wizard>
   </extension>
   
   <extension
         point="fr.inria.diverse.commons.eclipse.pde.templates">
      <template
            class="org.gemoc.execution.concurrent.ccsljavaxdsml.ui.templates.ConcurrentTemplate"
            contributingId="fr.inria.diverse.melange.ui.templates.template1"
            id="fr.inria.diverse.melange.ui.templates.template_simple_concurrent_language"
            name="Simple concurrent GEMOC project">
      </template>
   </extension>
</plugin>
