<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://fr.inria.aoste.gemoc.eastadl"
            class="eastLight.EastLightPackage"
            genModel="platform:/plugin/fr.inria.aoste.gemoc.eastlight.profile/model/eastLight.profile.genmodel"/>
   </extension>
 <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="platform:/plugin/fr.inria.aoste.gemoc.eastlight.profile/model/eastLight.profile.uml#_PhaH4HwuEeKwtJWK6b5hmA"
            uri="http://fr.inria.aoste.gemoc.eastadl">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            name="EastADL"
            path="platform:/plugin/fr.inria.aoste.gemoc.eastlight.profile/model/eastLight.profile.uml"/>
   </extension>  

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="eastadl"
            class="eastLight.util.EastLightResourceFactoryImpl"/>
   </extension>

</plugin>
