<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated simpleComponentModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="simplecomponentmodel.presentation.SimplecomponentmodelModelWizardID"
            name="%_UI_SimplecomponentmodelModelWizard_label"
            class="simplecomponentmodel.presentation.SimplecomponentmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SimplecomponentmodelModelFile.gif">
         <description>%_UI_SimplecomponentmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated simpleComponentModel -->
      <editor
            id="simplecomponentmodel.presentation.SimplecomponentmodelEditorID"
            name="%_UI_SimplecomponentmodelEditor_label"
            icon="icons/full/obj16/SimplecomponentmodelModelFile.gif"
            extensions="simplecomponentmodel"
            class="simplecomponentmodel.presentation.SimplecomponentmodelEditor"
            contributorClass="simplecomponentmodel.presentation.SimplecomponentmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
