<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://fr.inria.aoste.gemoc.example.tfsm"
            class="fr.inria.aoste.gemoc.example.tfsm.TfsmPackage"
            genModel="model/tfsm.genmodel"/>
   </extension>

</plugin>
